.nav-toggle {
  border-radius: 0 0 8px 0 !important;
  border-width: 0 1px 1px 0 !important;
}

.nav-toggle:not(:first-of-type) {
  margin-left: -4px;
}

nav {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  overflow: hidden;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  padding-left: 0;
  margin: 0;
  min-width: 100%;
  background: hsl(214, 21%, 13%);
  overflow: hidden;
  max-height: 0;
  transition: 500ms all;
}

nav > ul:nth-child(2) {
  background: hsl(214, 21%, 17%);
}

nav > ul:nth-child(3) {
  background: hsl(214, 21%, 21%);
}

nav > ul:nth-child(4) {
  background: hsl(214, 21%, 23%);
}

nav > ul:last-child {
  border-bottom: none;
}

nav > ul > li {
  display: flex;
  flex-grow: 1;
}

nav > ul > li.filter__header,
nav > ul > li.sorting__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 2em;
  width: 140px;
  flex-grow: 0;
  font-weight: bold;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

nav > ul > li > a {
  color: #FFF;
  text-decoration: none;
  padding: 1em 2em;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  text-align: center;
  transition: 300ms all;
  cursor: pointer;
}

nav > ul > li > a.active,
nav > ul > li > a:hover {
  background: #364457;
  box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

nav > ul > li > a.sorting__down:after {
  content: '▼';
  margin-left: 0.5em;
}

nav > ul > li > a.sorting__up:after {
  content: '▲';
  margin-left: 0.5em;
}

@media screen and (max-width: 1000px) {
  nav > ul > li {
    flex-shrink: 1;
    flex-basis: 20%;
  }

  nav > ul > li.filter__header,
  nav > ul > li.sorting__header {
    flex-grow: 1;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  nav > ul > li {
    flex-basis: 33%;
  }
}

